{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/cars/car-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="car-container">
  <div class="car-img">
    <img src="" alt="Random car image" />
  </div>
  <div class="car-details">
    <h1>{{ car.companyName }} {{ car.model}} {{car.year}}</h1>
    <p>{{ car.description }}</p>
    
    <div class="car-actions">
      <a href="{% url 'car-update' car.id %}" class="btn warn">Edit</a>
      <a href="{% url 'car-delete' car.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
{% endblock %}
